<div>
  <h1>Add</h1>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
    <div class="form-group">
    <input formControlName="name" type="text" id="name" placeholder="Product Name" name="name" class="form-control"  />
  </div>
  <div class="form-group">
    <input type="text" id="detail" formControlName="detail" class="form-control" placeholder="enter details" name="detail"  />
  </div>
  <div class="form-group group">
    Choose car : <select formControlName="car" form="cform">
      <option value="Volvo">Volvo</option>
      <option value="Mercedes">Mercedes</option>
      <option value="Toyota">Toyota</option>
      <option value="Honda">Honda</option>
    </select>
  </div>
  <div class="form-group group">
    <label class="rformat  " >
    <input type="radio" id="male"value="MALE" formControlName="gender"    /><span>MALE</span> 
  </label>
  <label class="rformat ">
    <input type="radio" id="female"value="FEMALE" formControlName="gender"    /><span> FEMALE</span>
  </label>
  <label class="rformat ">
      <input type="radio" id="female"value="NEITHER" formControlName="gender"    /><span> NEITHER</span>
    </label>  
  </div>
  <div class="form-group group" >
    <span>choose skills:</span>
  <label class="group" *ngFor="let skill of skills.controls; let i=index">
    <input type="checkbox" [formControl]="skill"/> {{user.skills[i].name}}
   </label>
   </div>
  <button [disabled]="!addForm.valid" class="btn btn-success"><i class="fa fa-floppy-o"></i></button>
    <button class="btn btn-basic" style="margin-left:10px" (click)="back()"><i class="fa fa-repeat"></i></button>
  </form>
</div>