<div>
  <button class="btn btn-primary" (click)="addUser()"><i class="fa fa-thumbs-up"></i>Add User</button>
  <h2>Users List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th >Id</th>
        <th>Name</th>
        <th>Detail</th>
        <th>Car</th>
        <th>Gender</th>
        <th>Skill</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td >{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.detail}}</td>
        <td>{{user.car}}</td>
        <td>{{user.gender}}</td>
        <td><table><tbody>
          <tr *ngFor="let skill of user.skills">
              <td>{{skill.selected? skill.name:null}}</td>
          </tr>
        </tbody> </table> </td>
        <td>
         <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editUser(user)"></i>
          <i class="fa fa-trash-o" (click)="deleteUser(user)" style="margin-left:10px;"></i>
        </td>        
    </tbody>
  </table>
</div>
